#artist-pic{
    width: 440pt;
    min-height: 240pt;
    background-color: rgb(33, 209, 159);
    margin: 0 auto;
}

#answer{
    text-align: center;
    width: 440pt;
    height: 24pt;
    margin-top: 20pt;
}

#artist-name{
    text-align: center;
}